<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Recipe</h5>
          <p>
            <strong>ID</strong>: {{Recipe.id}}</p>
          <p>
          <p>
            <strong>Text</strong>: {{Recipe.text}}</p>
          <p>
            <strong>Description:</strong> {{Recipe.description}}</p>
            <a href="recipes">← Back To Recipes</a>
        </div>
      </div>
    </div>
  </div>
</div>
