<!-- Still need to add Handlebars expressions and helpers -->

<div class="container">
  <!-- Recipe Box -->
  <!-- Progress Bar -->
  <div class="progress mb-4">
    <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100">66%</div>
  </div>
  <!-- Instructions -->
  <div class="jumbotron">
    <h1 class="display-4">Recipe Box</h1>
    <p class="lead">Here are some recipes that match the ingredients in your fridge. Click on a recipe to view and select.</p>
  </div>
  <!-- Recipe Cards -->
  <div class="row">
    <div class="recipe-card col-6 col-sm-4 col-md-3 col-xl-2">
      <div class="card mb-4" data-toggle="modal" data-target="#recipeModal">
        <img src="images/hotdog.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Hot Dogs</h5>
        </div>
      </div>
    </div>
    <div class="recipe-card col-6 col-sm-4 col-md-3 col-xl-2">
      <div class="card mb-4" data-toggle="modal" data-target="#recipeModal">
        <img src="images/hotdog.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Hot Dogs</h5>
        </div>
      </div>
    </div>
    <div class="recipe-card col-6 col-sm-4 col-md-3 col-xl-2">
      <div class="card mb-4" data-toggle="modal" data-target="#recipeModal">
        <img src="images/hotdog.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Hot Dogs</h5>
        </div>
      </div>
    </div>
    <div class="recipe-card col-6 col-sm-4 col-md-3 col-xl-2">
      <div class="card mb-4" data-toggle="modal" data-target="#recipeModal">
        <img src="images/hotdog.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Hot Dogs</h5>
        </div>
      </div>
    </div>
    <div class="recipe-card col-6 col-sm-4 col-md-3 col-xl-2">
      <div class="card mb-4" data-toggle="modal" data-target="#recipeModal">
        <img src="images/hotdog.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Hot Dogs</h5>
        </div>
      </div>
    </div>
    <div class="recipe-card col-6 col-sm-4 col-md-3 col-xl-2">
      <div class="card mb-4" data-toggle="modal" data-target="#recipeModal">
        <img src="images/hotdog.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Hot Dogs</h5>
        </div>
      </div>
    </div>
    <div class="recipe-card col-6 col-sm-4 col-md-3 col-xl-2">
      <div class="card mb-4" data-toggle="modal" data-target="#recipeModal">
        <img src="images/hotdog.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Hot Dogs</h5>
        </div>
      </div>
    </div>
    <div class="recipe-card col-6 col-sm-4 col-md-3 col-xl-2">
      <div class="card mb-4" data-toggle="modal" data-target="#recipeModal">
        <img src="images/hotdog.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Hot Dogs</h5>
        </div>
      </div>
    </div>
    <div class="recipe-card col-6 col-sm-4 col-md-3 col-xl-2">
      <div class="card mb-4" data-toggle="modal" data-target="#recipeModal">
        <img src="images/hotdog.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Hot Dogs</h5>
        </div>
      </div>
    </div>
  </div>

  <a class="btn btn-primary" href="fridge" role="button">Back To Fridge</a>
  <!-- Modal -->
  <div class="modal fade" id="recipeModal" tabindex="-1" role="dialog" aria-labelledby="recipeModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="recipeModalTitle">Recipe Title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias itaque facilis quos, dicta earum suscipit quisquam fugit excepturi dolorem esse nihil atque quia ex accusantium quis rerum, ipsam odio modi? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias itaque facilis quos, dicta earum suscipit quisquam fugit excepturi dolorem esse nihil atque quia ex accusantium quis rerum, ipsam odio modi? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias itaque facilis quos, dicta earum suscipit quisquam fugit excepturi dolorem esse nihil atque quia ex accusantium quis rerum, ipsam odio modi?</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias itaque facilis quos, dicta earum suscipit quisquam fugit excepturi dolorem esse nihil atque quia ex accusantium quis rerum, ipsam odio modi? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias itaque facilis quos, dicta earum suscipit quisquam fugit excepturi dolorem esse nihil atque quia ex accusantium quis rerum, ipsam odio modi? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias itaque facilis quos, dicta earum suscipit quisquam fugit excepturi dolorem esse nihil atque quia ex accusantium quis rerum, ipsam odio modi?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Create Grocery List for This Recipe</button>
        </div>
      </div>
    </div>
  </div>
</div>