/* .list-group-item {
  line-height: 2.5;
} */
div.recipe-card:hover {
  cursor: pointer;
}

/* Carousel Styles */
.carousel .slide {
  margin: 0px;
  width: 100vw;
}
.carousel-indicators {
  margin-bottom: 10vh;
}
.carousel-caption {
  margin-bottom: 8vh;
  font-weight: bold;
  font-family: Impact, Charcoal, sans-serif;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 110%, 110%;
  border-radius: 50%;
  border: 1px solid black;
  background-color:black;
}
/* END Carousel Styles */

/* Fonts */
h5 {
  font-size: 6vw;
  color: rgb(250, 189, 21);
  text-shadow: 2px 2px 4px #000000;
}
h3 {
  font-size: 3vw;
}
p {
  font-size: 25px;
}
h1 {
  font-weight: bolder;
  font-size: 7vw;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 4px #000000;
}
h2 {
  font-weight: bolder;
  font-size: 57px;
}
h4 {
  color: rgb(255,255,255);
  font-weight: bolder;
}
h6 {
  font-size: 25px;
}
/* END Fonts */

/* FlexBox */
.flex-container {
  display: flex;
  flex-direction: column;
  /* background-color: rgb(185,212,227); */
  background-color: rgb(194,194,194);
  background-image: url("../images/orangefridge.png");
  background-size: 100%;
  min-height: 200vh;

}
.jumbotron {
  background: rgba(172, 172, 172, 0.6);
  padding: 10px;
  justify-content: center;
  text-align: center;
  padding-bottom: 20px;
  margin-left: 12vw;
  margin-right: 12vw;
}

.btn-secondary {
  width: 40vw;
}

.fridge-confirm {
  padding-left: 12px;
}

.list-group-item {
  background: rgba(172, 172, 172, 0.6);
}